.playlistCard {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #181818;
    border-radius: 8px;
    padding: 8px 0;
    margin: 5px 0;
    transition: background 0.3s ease;
    cursor: pointer;
    width: 100%;
}

.playlistCard:hover {
    background: #282828;
}

.playlistCardImage {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
}

.playlistCardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.playlistCardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.playlistName {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.playlistTitle {
    font-size: 12px;
    color: #b3b3b3;
    margin: 0;
}
