/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative; /* To make the search card relative to this container */
  }
  
  .navbar a {
    font-size: 1.5rem;
    margin: 0 1.5rem;
    color: #1db954;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #1ed760;
  }
  
  /* Search Bar */
  .navSearch {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }
  
  .searchInput {
    width: 400px;
    padding: 0.8rem 1rem;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 25px;
    font-size: 1rem;
    transition: border 0.3s ease, background-color 0.3s ease;
  }
  
  .searchInput:focus {
    outline: none;
    border-color: #1db954;
    background-color: #444;
  }
